[submodule "app/lib/rtdbmodel"]
	path = app/lib/rtdbmodel
	url = git@git.rtcamp.com:rtlib/rtdbmodel.git
[submodule "app/lib/rtattributes"]
	path = app/lib/rtattributes
	url = git@git.rtcamp.com:rtlib/rtattributes.git
[submodule "app/lib/wp-helpers"]
	path = app/lib/wp-helpers
	url = https://github.com/rtCamp/wp-helpers.git
