.rtbiz-ideas-table {
  border-spacing: 0;
  width: 100%;
  clear: both;
  margin: 0;

  * {
    word-wrap: break-word;
  }

  a {
    text-decoration: none;
  }

  td,
  th {
    padding: 8px 10px;
  }

  thead th,
  thead td {
    border-bottom: 1px solid #e1e1e1;
  }

  tfoot th,
  tfoot td {
    border-top: 1px solid #e1e1e1;
    border-bottom: none;
  }

  .no-items td {
    border-bottom-width: 0;
  }

  td {
    vertical-align: top;
  }

  td,
  td p,
  td ol,
  td ul {
    font-size: 13px;
    line-height: 1.5em;
  }

  th,
  thead td,
  tfoot td {
    //text-align: right;
    line-height: 1.3em;
    font-size: 14px;
  }
  tbody td{
    padding : 8px 10px;
  }

  th input,
  thead td input,
  tfoot td input {
    margin: 0 8px 0 0;
    padding: 0;
    vertical-align: text-top;
  }

  .update-php div.updated,
  .update-php div.error {
    margin-right: 0;
  }

  .num,
  .column-links,
  .column-posts {
    text-align: center;
  }

  th#comments {
    vertical-align: middle;
  }
  .rtbiz-idea-action{
      span{
        display: inline-block;
        margin-right: 10px;
      }
      a{
        padding: 0 5px 10px 0;
        display: inline-block;
      }
  }
  a {
      &:link {
          color: $color_storm_dust_approx;
          font-weight: bold;
          text-decoration: none;
      }
      &:visited {
          color: $color_mountain_mist_approx;
          font-weight: bold;
          text-decoration: none;
      }
      &:active {
          color: $color_tuscany_approx;
          text-decoration: underline;
      }
      &:hover {
          color: $color_tuscany_approx;
          text-decoration: underline;
      }
  }
  .btnVote {
     cursor: pointer;
  }
}
