/**
* Author: Dipesh
*/

//colors
$color_gorse_approx: #fff34d;
$black_70: rgba(0, 0, 0, 0.7);
$color_alto_approx: #ddd;
$color_indigo_approx: #4b74bb;
$white: #ffffff;
$color_san_marino_approx: #3e63a4;
$color_celeste_approx: #ccc;
$black_10: rgba(0,0,0,0.1);
$black_75: rgba(0,0,0,0.75);
$color_mountain_mist_approx: #999;
$color_white_approx: #fcfdff;
$color_botticelli_approx: #cfd7e6;
$color_bali_hai_approx: #8f9bb3;
$color_charade_approx: #292c33;
$color_log_cabin_approx: #222;
$color_tall_poppy_approx: #c03028;
$color_romance_approx: #fefefe;
$seashell: #f1f1f1;
$color_bon_jour_approx: #e2e2e2;
$color_nevada_approx: #666f80;
$color_heather_approx: #b8becc;
$color_picton_blue_approx: #35b5eb;
$color_snowy_mint_approx: #d2fad2;
$color_granny_smith_apple_approx: #90ee90;
$color_storm_dust_approx: #666;
$color_tuscany_approx: #bd5a35;
$color_cararra_approx: #eaebec;
$alabaster: #fafafa;
$color_gallery_approx: #ededed;
$color_alabaster_approx: #fbfbfb;
$color_black_haze_approx: #f6f6f6;
$color_desert_storm_approx: #f8f8f8;
$concrete: #f2f2f2;
$color_malachite_approx: rgb(28, 184, 65);
$color_christine_approx: rgb(223, 117, 20);

//@extend-elements
//original selectors
//#btnNewThickbox, #btnOpenThickbox
%extend_1 {
	font-size: 16px;
	text-decoration: none;
	background-color: $color_indigo_approx;
	color: #FFFFFF;
	padding: 10px;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 5px;
}

//original selectors
//#insertIdeaForm input[type='text'], #insertIdeaForm textarea, #txtSearchIdea
%extend_2 {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 0;
	background-color: $white;
	font-family: inherit;
	border: 1px solid $color_celeste_approx;
	-webkit-box-shadow: inset 0 1px 2px $black_10;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 1px 2px $black_10;
	color: $black_75;
	display: block;
	font-size: 16px;
//	margin: 0 0 1rem 0;
//	padding: 0.5rem;
	height: 2.3125rem;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
	//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
}

//original selectors
//#insertIdeaForm input[type='text']:focus, #insertIdeaForm textarea:focus, #txtSearchIdea:focus
%extend_3 {
	-webkit-box-shadow: 0 0 5px $color_mountain_mist_approx;
	-moz-box-shadow: 0 0 5px $color_mountain_mist_approx;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 5px $color_mountain_mist_approx;
	border-color: $color_mountain_mist_approx;
}

//original selectors
//#btninsertIdeaFormSubmit, #user_notification_save
%extend_4 {
	padding: 0;
	margin: 0;
	width: 140px;
	height: 50px;
	background: $color_indigo_approx;
	border: none;
	color: $white;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 3px;
	font-size: 16px;
}


.highlight {
	background-color: $color_gorse_approx;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 5px;
	-moz-box-shadow: 0 1px 4px $black_70;
	-webkit-box-shadow: 0 1px 4px $black_70;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 4px $black_70;
	padding: 1px 4px;
	margin: 0 -4px;
}
.rtwpIdeaVoteButton {
	.btnVote {
		width: 80px;
		height: 30px;
		background: $color_indigo_approx;
		border: none;
		color: $white;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 3px;
		font-size: 11px;
		padding: 0;
	}
	.button-subscribe {
		color: $white;
		min-width: 80px;
		background: $color_malachite_approx;
	}
	.button-unsubscribe {
		color: $white;
		min-width: 80px;
		background: $color_christine_approx;
	}
}
.btnVote {
	&:hover {
		background: $color_san_marino_approx;
	}
	&:focus {
		background: $color_san_marino_approx;
		background: $color_san_marino_approx;
	}
}
#btnOpenThickbox {
	@extend %extend_1;
	&:hover {
		background: $color_san_marino_approx;
		background: $color_san_marino_approx;
	}
	&:focus {
		background: $color_san_marino_approx;
		background: $color_san_marino_approx;
	}
}
#btnNewThickbox {
	@extend %extend_1;
	margin-left: -5px;
	display: inline-block;
	line-height: 20px;
	//Instead of the line below you could use @includeborder-top-left-radius($radius)
	border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	//Instead of the line below you could use @includeborder-bottom-left-radius($radius)
	border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
}
#insertIdeaForm {
	#txtIdeaContent {
		height: 200px !important;
	}
	input[type='text'] {
		@extend %extend_2;
		&:focus {
			@extend %extend_3;
		}
	}
	textarea {
		@extend %extend_2;
		&:focus {
			@extend %extend_3;
		}
	}
}
#txtSearchIdea {
	@extend %extend_2;
	width: 75%;
	display: inline-block;
	height: 40px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 5px;
	//Instead of the line below you could use @includeborder-top-right-radius($radius)
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	-webkit-border-top-right-radius: 0;
	//Instead of the line below you could use @includeborder-bottom-right-radius($radius)
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	&:focus {
		@extend %extend_3;
	}
}
#txtIdeaTitle {
	width: 80%;
}
#insertIdeaFormCancel {
	margin-left: 15px;
}
#btninsertIdeaFormSubmit {
	@extend %extend_4;
	&:hover {
		background: $color_san_marino_approx;
	}
	&:focus {
		background: $color_san_marino_approx;
	}
}
#user_notification_save {
	@extend %extend_4;
	width: 100px;
	height: 35px;
}
#idea-user-settings {
	font-weight: bold;
	font-size: 20px;
}
.rtwpIdeaVoteCount {
	background-color: #FCFDFF;
	border: 1px solid #CFD7E6;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 3px;
	-moz-box-shadow: $black_10 0 1px 1px;
	-webkit-box-shadow: $black_10 0 1px 1px;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: $black_10 0 1px 1px;
	color: #8F9BB3;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 3px;
	padding: 12px 0 9px;
	text-align: center;
	strong {
		color: #292C33;
		display: block;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 5px;
	}
}
.rtwpIdeaVoteBadge {
	width: 80px;
	position: absolute;
}
.rtwpIdeaHeader {
	padding-left: 100px;
	word-wrap: break-word;
}
.rtwpIdeaTitle {
	font-size: 18px;
	font-weight: bold;
	line-height: 1em;
	margin: 0 0 10px 0 !important;
	a {
		text-decoration: none;
		&.link {
			color: $color_log_cabin_approx;
		}
		&.visited {
			color: $color_log_cabin_approx;
		}
		&:hover {
			color: $color_tall_poppy_approx;
		}
		&.focus {
			color: $color_tall_poppy_approx;
		}
	}
}
.rtwpIdeaDescription {
	font-size: 12px;
	margin-bottom: 10px;
}
.typeset {
	line-height: 1.75rem;
	text-rendering: optimizeLegibility;
}
.rtwpAttachments {
	clear: both;
	float: left;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
.rtwpAttachment {
	float: left;
	margin-right: 20px;
	margin-bottom: 30px;
	width: 190px;
}
.rtwpAttachmentLink {
	float: left;
	width: 100%;
	color: $color_san_marino_approx;
	&:hover {
		color: $color_tall_poppy_approx;
	}
}
figure {
	position: relative;
}
.rtwpAttachmentThumbnail {
	background-color: #FCFDFF;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border: 2px solid $color_romance_approx;
	border-right-color: $seashell;
	border-left-color: $seashell;
	border-bottom-color: $color_bon_jour_approx;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 1px;
	-moz-box-shadow: $black_75 0 0 1px;
	-webkit-box-shadow: $black_75 0 0 1px;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: $black_75 0 0 1px;
	float: left;
	height: 28px;
	width: 28px;
	margin-right: 5px;
}
.rtwpAttachmentMeta {
	float: left;
	width: 153px;
	max-width: 100%;
}
.rtwpAttachmentCaption {
	display: block;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.rtwpAttachmentSize {
	color: #8F9BB3;
	display: block;
	font-size: 11px;
	line-height: 16px;
	text-decoration: none;
}
.rtwpIdeaMeta {
	color: #666F80;
	font-size: 11px;
	margin-bottom: 30px;
	a {
		color: $color_san_marino_approx;
		&:hover {
			color: $color_tall_poppy_approx;
		}
	}
}
.rtwpStyle-separator {
	color: #B8BECC;
}
#ideaLoadMore {
	font-size: 18px;
	text-decoration: none;
	background-color: #35B5EB;
	color: #FFFFFF;
	padding: 10px;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 5px;
	margin: 0 auto;
	width: 150px;
	text-align: center;
}
.searchidea {
	display: block;
	margin-left: 10px;
	max-width: 80%;
}
.idea-loop-common {
	clear: both;
	margin-left: 10px;
}
.idea-loadmore {
	text-align: center;
}
#lblIdeaSuccess {
	clear: both;
	background: #D2FAD2;
	padding: 10px;
	border: 1px solid #90EE90;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 5px;
	font-weight: 600;
	width: 30%;
	margin-left: 10px;
}
@media only screen and (max-width: 480px) {
	#txtSearchIdea {
		width: 100%;
		//Instead of the line below you could use @includeborder-top-right-radius($radius)
		border-top-right-radius: 5px;
		-moz-border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		//Instead of the line below you could use @includeborder-bottom-right-radius($radius)
		border-bottom-right-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
	}
	#btnNewThickbox {
		//Instead of the line below you could use @includeborder-top-left-radius($radius)
		border-top-left-radius: 5px;
		-moz-border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		//Instead of the line below you could use @includeborder-bottom-left-radius($radius)
		border-bottom-left-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}
}
#TB_overlay {
	z-index: 999;
}
#TB_window {
	z-index: 9999;
}
#myideas {
	float: right;
	font-size: .85em;
	margin: 10px;
}
.subscribe_email_notification_button {
	cursor: pointer;
}
.myideasTable {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color: $color_storm_dust_approx;
	font-size: 12px;
	//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 1px 1px 0 $white;
	background: $color_cararra_approx;
	border: $color_celeste_approx 1px solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px $color_celeste_approx;
	-webkit-box-shadow: 0 1px 2px $color_celeste_approx;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 2px $color_celeste_approx;
	.rtwpIdeaVoteBadge {
		width: 80px;
		position: relative;
		.rtwpIdeaVoteButton .btnVote {
			width: 80px;
			height: 30px;
			background: $color_indigo_approx;
			border: none;
			color: $white;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 3px;
			font-size: 11px;
		}
	}
	a {
		&:link {
			color: $color_storm_dust_approx;
			font-weight: bold;
			text-decoration: none;
		}
		&:visited {
			color: $color_mountain_mist_approx;
			font-weight: bold;
			text-decoration: none;
		}
		&:active {
			color: $color_tuscany_approx;
			text-decoration: underline;
		}
		&:hover {
			color: $color_tuscany_approx;
			text-decoration: underline;
		}
	}
	th {
		padding: 10px;
		border-top: 1px solid $alabaster;
		border-bottom: 1px solid $color_bon_jour_approx;
		background: $color_gallery_approx;
		background: -webkit-gradient(linear, left top, left bottom, from($color_gallery_approx), to($color_cararra_approx));
		background: -moz-linear-gradient(top, $color_gallery_approx, $color_cararra_approx);
		&:first-child {
			text-align: left;
			padding-left: 20px;
		}
	}
	tr {
		text-align: center;
		padding-left: 20px;
		&:first-child th {
			&:first-child {
				-moz-border-radius-topleft: 3px;
				-webkit-border-top-left-radius: 3px;
				//Instead of the line below you could use @includeborder-top-left-radius($radius)
				border-top-left-radius: 3px;
			}
			&:last-child {
				-moz-border-radius-topright: 3px;
				-webkit-border-top-right-radius: 3px;
				//Instead of the line below you could use @includeborder-top-right-radius($radius)
				border-top-right-radius: 3px;
			}
		}
		&:hover td {
			background: $concrete;
			background: -webkit-gradient(linear, left top, left bottom, from($concrete), to($color_gallery_approx));
			background: -moz-linear-gradient(top, $concrete, $color_gallery_approx);
		}
		&.even td {
			background: $color_black_haze_approx;
			background: -webkit-gradient(linear, left top, left bottom, from($color_desert_storm_approx), to($color_black_haze_approx));
			background: -moz-linear-gradient(top, $color_desert_storm_approx, $color_black_haze_approx);
		}
		&:last-child td {
			border-bottom: 0;
			&:first-child {
				-moz-border-radius-bottomleft: 3px;
				-webkit-border-bottom-left-radius: 3px;
				//Instead of the line below you could use @includeborder-bottom-left-radius($radius)
				border-bottom-left-radius: 3px;
			}
			&:last-child {
				-moz-border-radius-bottomright: 3px;
				-webkit-border-bottom-right-radius: 3px;
				//Instead of the line below you could use @includeborder-bottom-right-radius($radius)
				border-bottom-right-radius: 3px;
			}
		}
	}
	td {
		padding:10px;
		border-top: 1px solid #ffffff;
		border-bottom:1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;

		background: #fafafa;
		background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
		background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
		&:first-child {
			text-align: left;
			padding-left: 20px;
			border-left: 0;
		}
	}
	.btnVote:hover {
		background: $color_san_marino_approx;
	}
}
#email-notification-setting {
	margin-left: 10px;
}
.idea-setting-checkbox {
	margin-left: 10px;
}
#loop-common article {
	border-bottom: 1px dotted $color_alto_approx;
	padding-bottom: 0;
	padding-top: 20px;
}
