/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 17 Feb, 2014, 3:36:20 PM
    Author     : kaklo, utkarsh
*/
/* line 51, ../scss/rtwpideas-client-styles.scss */
#btnOpenThickbox, #btnNewThickbox {
  font-size: 16px;
  text-decoration: none;
  background-color: #4b74bb;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
}

/* line 63, ../scss/rtwpideas-client-styles.scss */
#insertIdeaForm input[type='text'], #insertIdeaForm textarea, #txtSearchIdea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #ffffff;
  font-family: inherit;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 16px;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 2.3125rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
}

/* line 92, ../scss/rtwpideas-client-styles.scss */
#insertIdeaForm input[type='text']:focus, #insertIdeaForm textarea:focus, #txtSearchIdea:focus {
  -webkit-box-shadow: 0 0 5px #999;
  -moz-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  border-color: #999;
}

/* line 102, ../scss/rtwpideas-client-styles.scss */
#btninsertIdeaFormSubmit, #user_notification_save {
  padding: 0;
  margin: 0;
  width: 140px;
  height: 50px;
  background: #4b74bb;
  border: none;
  color: #ffffff;
  border-radius: 3px;
  font-size: 16px;
}

/* line 116, ../scss/rtwpideas-client-styles.scss */
.highlight {
  background-color: #fff34d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  padding: 1px 4px;
  margin: 0 -4px;
}

/* line 130, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaVoteButton .btnVote {
  width: 80px;
  height: 30px;
  background: #4b74bb;
  border: none;
  color: #ffffff;
  border-radius: 3px;
  font-size: 11px;
  padding: 0;
}
/* line 141, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaVoteButton .button-subscribe {
  color: #ffffff;
  min-width: 80px;
  background: #1cb841;
}
/* line 146, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaVoteButton .button-unsubscribe {
  color: #ffffff;
  min-width: 80px;
  background: #df7514;
}

/* line 153, ../scss/rtwpideas-client-styles.scss */
.btnVote:hover {
  background: #3e63a4;
}
/* line 156, ../scss/rtwpideas-client-styles.scss */
.btnVote:focus {
  background: #3e63a4;
  background: #3e63a4;
}

/* line 163, ../scss/rtwpideas-client-styles.scss */
#btnOpenThickbox:hover {
  background: #3e63a4;
  background: #3e63a4;
}
/* line 167, ../scss/rtwpideas-client-styles.scss */
#btnOpenThickbox:focus {
  background: #3e63a4;
  background: #3e63a4;
}

/* line 172, ../scss/rtwpideas-client-styles.scss */
#btnNewThickbox {
  margin-left: -5px;
  display: inline-block;
  line-height: 20px;
  border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}

/* line 187, ../scss/rtwpideas-client-styles.scss */
#insertIdeaForm #txtIdeaContent {
  height: 200px !important;
}

/* line 203, ../scss/rtwpideas-client-styles.scss */
#txtSearchIdea {
  width: 75%;
  display: inline-block;
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}

/* line 224, ../scss/rtwpideas-client-styles.scss */
#txtIdeaTitle {
  width: 80%;
}

/* line 227, ../scss/rtwpideas-client-styles.scss */
#insertIdeaFormCancel {
  margin-left: 15px;
}

/* line 232, ../scss/rtwpideas-client-styles.scss */
#btninsertIdeaFormSubmit:hover {
  background: #3e63a4;
}
/* line 235, ../scss/rtwpideas-client-styles.scss */
#btninsertIdeaFormSubmit:focus {
  background: #3e63a4;
}

/* line 239, ../scss/rtwpideas-client-styles.scss */
#user_notification_save {
  width: 100px;
  height: 35px;
}

/* line 244, ../scss/rtwpideas-client-styles.scss */
#idea-user-settings {
  font-weight: bold;
  font-size: 20px;
}

/* line 248, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaVoteCount {
  background-color: #FCFDFF;
  border: 1px solid #CFD7E6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  color: #8F9BB3;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 3px;
  padding: 12px 0 9px;
  text-align: center;
}
/* line 265, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaVoteCount strong {
  color: #292C33;
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* line 273, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaVoteBadge {
  width: 80px;
  position: absolute;
}

/* line 277, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaHeader {
  padding-left: 100px;
  word-wrap: break-word;
}

/* line 281, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaTitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  margin: 0 0 10px 0;
}
/* line 286, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaTitle a {
  text-decoration: none;
}
/* line 288, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaTitle a.link {
  color: #222;
}
/* line 291, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaTitle a.visited {
  color: #222;
}
/* line 294, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaTitle a:hover {
  color: #c03028;
}
/* line 297, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaTitle a.focus {
  color: #c03028;
}

/* line 302, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaDescription {
  font-size: 12px;
  margin-bottom: 10px;
}

/* line 306, ../scss/rtwpideas-client-styles.scss */
.typeset {
  line-height: 1.75rem;
  text-rendering: optimizeLegibility;
}

/* line 310, ../scss/rtwpideas-client-styles.scss */
.rtwpAttachments {
  clear: both;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 318, ../scss/rtwpideas-client-styles.scss */
.rtwpAttachment {
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
  width: 190px;
}

/* line 324, ../scss/rtwpideas-client-styles.scss */
.rtwpAttachmentLink {
  float: left;
  width: 100%;
  color: #3e63a4;
}
/* line 328, ../scss/rtwpideas-client-styles.scss */
.rtwpAttachmentLink:hover {
  color: #c03028;
}

/* line 332, ../scss/rtwpideas-client-styles.scss */
figure {
  position: relative;
}

/* line 335, ../scss/rtwpideas-client-styles.scss */
.rtwpAttachmentThumbnail {
  background-color: #FCFDFF;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 2px solid #fefefe;
  border-right-color: #f1f1f1;
  border-left-color: #f1f1f1;
  border-bottom-color: #e2e2e2;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.75) 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 1px;
  float: left;
  height: 28px;
  width: 28px;
  margin-right: 5px;
}

/* line 356, ../scss/rtwpideas-client-styles.scss */
.rtwpAttachmentMeta {
  float: left;
  width: 153px;
  max-width: 100%;
}

/* line 361, ../scss/rtwpideas-client-styles.scss */
.rtwpAttachmentCaption {
  display: block;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 369, ../scss/rtwpideas-client-styles.scss */
.rtwpAttachmentSize {
  color: #8F9BB3;
  display: block;
  font-size: 11px;
  line-height: 16px;
  text-decoration: none;
}

/* line 376, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaMeta {
  color: #666F80;
  font-size: 11px;
  margin-bottom: 30px;
}
/* line 380, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaMeta a {
  color: #3e63a4;
}
/* line 382, ../scss/rtwpideas-client-styles.scss */
.rtwpIdeaMeta a:hover {
  color: #c03028;
}

/* line 387, ../scss/rtwpideas-client-styles.scss */
.rtwpStyle-separator {
  color: #B8BECC;
}

/* line 390, ../scss/rtwpideas-client-styles.scss */
#ideaLoadMore {
  font-size: 18px;
  text-decoration: none;
  background-color: #35B5EB;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  width: 150px;
  text-align: center;
}

/* line 402, ../scss/rtwpideas-client-styles.scss */
.searchidea {
  display: block;
  margin-left: 10px;
  max-width: 80%;
}

/* line 407, ../scss/rtwpideas-client-styles.scss */
.idea-loop-common {
  clear: both;
  margin-left: 10px;
}

/* line 411, ../scss/rtwpideas-client-styles.scss */
.idea-loadmore {
  text-align: center;
}

/* line 414, ../scss/rtwpideas-client-styles.scss */
#lblIdeaSuccess {
  clear: both;
  background: #D2FAD2;
  padding: 10px;
  border: 1px solid #90EE90;
  border-radius: 5px;
  font-weight: 600;
  width: 30%;
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {
  /* line 426, ../scss/rtwpideas-client-styles.scss */
  #txtSearchIdea {
    width: 100%;
    border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
  }

  /* line 437, ../scss/rtwpideas-client-styles.scss */
  #btnNewThickbox {
    border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
  }
}
/* line 448, ../scss/rtwpideas-client-styles.scss */
#TB_overlay {
  z-index: 999;
}

/* line 451, ../scss/rtwpideas-client-styles.scss */
#TB_window {
  z-index: 9999;
}

/* line 454, ../scss/rtwpideas-client-styles.scss */
#myideas {
  float: right;
  font-size: .85em;
  margin: 10px;
}

/* line 459, ../scss/rtwpideas-client-styles.scss */
.subscribe_email_notification_button {
  cursor: pointer;
}

/* line 462, ../scss/rtwpideas-client-styles.scss */
.myideasTable {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 12px;
  text-shadow: 1px 1px 0 #ffffff;
  background: #eaebec;
  border: #ccc 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
}
/* line 479, ../scss/rtwpideas-client-styles.scss */
.myideasTable .rtwpIdeaVoteBadge {
  width: 80px;
  position: relative;
}
/* line 482, ../scss/rtwpideas-client-styles.scss */
.myideasTable .rtwpIdeaVoteBadge .rtwpIdeaVoteButton .btnVote {
  width: 80px;
  height: 30px;
  background: #4b74bb;
  border: none;
  color: #ffffff;
  border-radius: 3px;
  font-size: 11px;
}
/* line 494, ../scss/rtwpideas-client-styles.scss */
.myideasTable a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
/* line 499, ../scss/rtwpideas-client-styles.scss */
.myideasTable a:visited {
  color: #999;
  font-weight: bold;
  text-decoration: none;
}
/* line 504, ../scss/rtwpideas-client-styles.scss */
.myideasTable a:active {
  color: #bd5a35;
  text-decoration: underline;
}
/* line 508, ../scss/rtwpideas-client-styles.scss */
.myideasTable a:hover {
  color: #bd5a35;
  text-decoration: underline;
}
/* line 513, ../scss/rtwpideas-client-styles.scss */
.myideasTable th {
  padding: 10px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e2e2e2;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#eaebec));
  background: -moz-linear-gradient(top, #ededed, #eaebec);
}
/* line 520, ../scss/rtwpideas-client-styles.scss */
.myideasTable th:first-child {
  text-align: left;
  padding-left: 20px;
}
/* line 525, ../scss/rtwpideas-client-styles.scss */
.myideasTable tr {
  text-align: center;
  padding-left: 20px;
}
/* line 529, ../scss/rtwpideas-client-styles.scss */
.myideasTable tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
}
/* line 535, ../scss/rtwpideas-client-styles.scss */
.myideasTable tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 542, ../scss/rtwpideas-client-styles.scss */
.myideasTable tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ededed));
  background: -moz-linear-gradient(top, #f2f2f2, #ededed);
}
/* line 547, ../scss/rtwpideas-client-styles.scss */
.myideasTable tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}
/* line 552, ../scss/rtwpideas-client-styles.scss */
.myideasTable tr:last-child td {
  border-bottom: 0;
}
/* line 554, ../scss/rtwpideas-client-styles.scss */
.myideasTable tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* line 560, ../scss/rtwpideas-client-styles.scss */
.myideasTable tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* line 568, ../scss/rtwpideas-client-styles.scss */
.myideasTable td {
  padding: 10px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
/* line 577, ../scss/rtwpideas-client-styles.scss */
.myideasTable td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0;
}
/* line 583, ../scss/rtwpideas-client-styles.scss */
.myideasTable .btnVote:hover {
  background: #3e63a4;
}

/* line 587, ../scss/rtwpideas-client-styles.scss */
#email-notification-setting {
  margin-left: 10px;
}

/* line 590, ../scss/rtwpideas-client-styles.scss */
.idea-setting-checkbox {
  margin-left: 10px;
}

/* line 593, ../scss/rtwpideas-client-styles.scss */
#loop-common article {
  border-bottom: 1px dotted #ddd;
  padding-bottom: 0;
  padding-top: 20px;
}
